
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -5%, rgba(171,53,163,0.45) 59.3%, rgba(255,204,112,0.37) 97.7% );
  height: 100%;
  padding-bottom: 85px;
 
  }
  
  header {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    padding-top: 4rem;
    text-align: center;
    margin-bottom: 0px;
  }

  .grid-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
   
    justify-content: center;
   height:90%;
  }
  

  .contact-form {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    justify-content: center;
    

  }
  h2{
   padding-left: 70px;
  }
  
  input, textarea, button {
    display: block;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: green ;
    color: white;
    border: none;
    cursor: pointer;
    width:300px;
    justify-content: center;
  }
  

  .message {
    color: green;
    font-weight: bold;
  }
  